
<div style="width : 50% ;"> 

<table ng-if="$ctrl.masterDataList.length != 0">
 
 
 		
 
        <tr  ng-repeat="masterData in $ctrl.masterDataList">
          	
          	<th>  {{masterData.conceptName}}</th>
          	
          	<td ng-repeat="data in masterData.dataList " >   {{data.obsValue}}  
          	 <span style="float: right; font-size: small; color: #939393">
                {{$ctrl.widgetsCommons.dateToDaysAgoMessage(data.createdDateObs)}}
            </span>  </td> 
          
        </tr>
</table>
<p ng-if="$ctrl.concepts.length == 0">None Concepts</p>


</div>




