<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.5/chartjs-plugin-annotation.min.js">
</script>

<style>
select{
height:unset;
}
table td{
max-width:200px;
}

</style>
<style>
* {
    box-sizing: border-box;
}

.centerAlign{
text-align: center;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

.left{
  	width: 550px;
  	border-right: 1px solid gray; 
}

.right{
  	border-left: 1px solid gray;
	width: 550px;
}

.middle {
	width: 550px;
  	width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>

<div>
	<table>
		<tr>
			<td class="centerAlign">
		    	Select Vital: <select ng-model="$ctrl.vitalSelected" ng-change='$ctrl.generateVitalsChart()'>
		    		<!-- <option selected="true" disabled="" value="">Select Vital</option> -->
		    		<option ng-repeat="obs in $ctrl.vitalsConceptsArray" value="{{obs[0]}}">{{obs[1]}}</option>
		    	</select>
		    </td>
		   	<td class="centerAlign">
		 		Select Lab Result: <select ng-model='$ctrl.labSelectedConceptId' ng-change='$ctrl.generateLabResultsChart()'>
		 			<!-- <option selected="true" disabled="" value="">Select Lab Results</option> -->
		     		<option ng-repeat="obs in $ctrl.labConceptsArray" value="{{obs[0]}}">{{obs[1]}}</option>
		     	</select>   
		     </td>
			<td class="centerAlign">
		     	Filter Time Period: <select ng-model='$ctrl.daysAgo' ng-change='$ctrl.onTimePeriodChanged();'>
			 		<!-- <option selected="true" disabled="" value="">Filter Time Period</option> -->
			 		<option value="all">All</option>
			 		<option value=7>Last week</option>
			 		<option value=14>Last two weeks</option>
					<option value=90>Last three months</option>
	 			</select>
	     	</td>
		</tr>
	</table>
</div>
  
<br/>
  
<div class="column left">
	<div style="padding-bottom: 10px; text-align: center;">
    	<strong>
        	Vitals
        </strong>
    </div>
   	<br/>
	<div ng-if="$ctrl.vitalChartLabels.length > 0">
	    <canvas class="chart chart-line" chart-data="$ctrl.vitalChartData" chart-labels="$ctrl.vitalChartLabels"
	            chart-series="$ctrl.vitalGraphSeries" chart-dataset-override="$ctrl.vitalChartDatasetOverride" chart-colors="$ctrl.colors" chart-options="$ctrl.vitalChartOptions"></canvas>
	</div>
              
	<div ng-if="$ctrl.vitalChartLabels.length === 0" class="centerAlign">
	    None
	</div>
</div>
  
<div class="column right">
	<div style="padding-bottom: 10px; text-align: center;">
    	<strong>
      		Lab Results
      	</strong>
  	</div>
  	
	<br/>
	
	<div ng-if="$ctrl.labChartLabels.length > 0">
	    <!-- <div style="padding-bottom: 10px">
	        <strong>
	            {{$ctrl.labConceptDisplay.display}}
	        </strong>
	    </div> -->
	    <canvas class="chart chart-line" chart-data="$ctrl.labChartData" chart-labels="$ctrl.labChartLabels"
	            chart-series="$ctrl.labChartSeries" chart-dataset-override="$ctrl.labChartDatasetOverride" chart-colors="$ctrl.colors" chart-options="$ctrl.labChartOptions"></canvas>
	</div>
              
	<div ng-if="$ctrl.labChartLabels.length === 0" class="centerAlign">
	    None
	</div>
</div>

