<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.5/chartjs-plugin-annotation.min.js">
</script>

<style>
select{
height:unset;
}
table td{
max-width:200px;
}
</style>

<style>
* {
    box-sizing: border-box;
}

.centerAlign{
text-align: center;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

.left{
  	width: 550px;
}

.right{
	width: 550px;
}

#div-vertical{
width:1px;
height:400px;
background-color:silver;
margin:10px;
float:left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.input-checkbox {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
</style>

<div>
	<table>
		<tr>
			<td class="centerAlign">
		    	Select Vital: <select ng-model="$ctrl.vitalSelected" ng-change='$ctrl.generateVitalsChart()'>
		    		<option ng-repeat="obs in $ctrl.vitalsConceptsArray" value="{{obs[0]}}">{{obs[1]}}</option>
		    	</select>
		    </td>
		   	<td class="centerAlign">
		 		Select Lab Result: <select ng-model='$ctrl.labSelectedConceptId' ng-change='$ctrl.generateLabResultsChart()'>
		     		<option ng-repeat="obs in $ctrl.labConceptsArray" value="{{obs[0]}}">{{obs[1]}}</option>
		     	</select>   
		     </td>
			<td class="centerAlign">
		     	Filter Time Period: <select ng-model='$ctrl.daysAgo' ng-change='$ctrl.onTimePeriodChanged();'>
			 		<option value="all">All</option>
			 		<option value=7>Last week</option>
			 		<option value=14>Last two weeks</option>
					<option value=90>Last three months</option>
	 			</select>
	     	</td>
		</tr>
	</table>
</div>
  
<br/>
  
<div class="column left">
	<div style="padding-bottom: 10px; text-align: center;">
    	<strong>
        	Vitals
        </strong>
    </div>
    <div style="padding-bottom: 10px;text-align: center;font-size: 12px;">
        	<input class="input-checkbox" type="checkbox" ng-disabled="$ctrl.vitalChartOptions.annotation.annotations.length === 0" ng-model="$ctrl.showVitalsAnnotationLabel" ng-change="$ctrl.showHideVitalsAnnotationLabel();"> enable annotation label
    </div>
   	<br/>
	<div ng-if="$ctrl.vitalChartLabels.length > 0">
	    <canvas class="chart chart-line" chart-data="$ctrl.vitalChartData" chart-labels="$ctrl.vitalChartLabels"
	            chart-series="$ctrl.vitalGraphSeries" chart-dataset-override="$ctrl.vitalChartDatasetOverride" chart-colors="$ctrl.colors" chart-options="$ctrl.vitalChartOptions"></canvas>
	</div>
              
	<div ng-if="$ctrl.vitalChartLabels.length === 0" class="centerAlign">
	    None
	</div>
</div>

<div id="div-vertical"></div>

<div class="column right">
	<div style="padding-bottom: 10px; text-align: center;">
    	<strong>
      		Lab Results
      	</strong>
  	</div>
	<div style="padding-bottom: 10px;text-align: center;font-size: 12px;">
       	<input class="input-checkbox" type="checkbox" ng-disabled="$ctrl.labChartOptions.annotation.annotations.length === 0" ng-model="$ctrl.showLabResultsAnnotationLabel" ng-change="$ctrl.showHideLabResultsAnnotationLabel();"> enable annotation label
    </div>
	<br/>
	<div ng-if="$ctrl.labChartLabels.length > 0">
	    <canvas class="chart chart-line" chart-data="$ctrl.labChartData" chart-labels="$ctrl.labChartLabels"
	            chart-series="$ctrl.labChartSeries" chart-dataset-override="$ctrl.labChartDatasetOverride" chart-colors="$ctrl.colors" chart-options="$ctrl.labChartOptions"></canvas>
	</div>
              
	<div ng-if="$ctrl.labChartLabels.length === 0" class="centerAlign">
	    None
	</div>
</div>

